Add reference documenting reasons for odd CCM nonce lengths

Please add a reference to the base document that specified that the odd 13 and 7 byte nonce lengths should be used.  There must be a reason for these choices, but the spec currently leaves it a mystery.


This is covered in RFC 3610 - the description of CCM.  There is already a reference to that document here.  Not sure why an additional reference to the same document would be useful.


In JOSE, I was often asked as editor to make references to the specific sections of specs defining particular features that are used.  I would think that a reference something like this would be help implementers understand the rationale behind the choices made.

"The nonce length of 13 bytes is used because the Section 2.1 of [RFC3610] specifies a nonce length in octets of N=15-L, where L is the number of octets in the length field, and L=2 in this case."


This hardly qualifies as a feature being used.  If you understand CCM you know about this trade-off.  If you don't, then you need to read the CCM specification.  I do not believe that this needs to be done


There is explicit text currently in the document that states there is a trade off between the Nonce length and the message length.  This is sufficient documentation for individuals that do not understand the exact trade-off.  Understanding the exact trade off involves a full understanding of how CCM works and what it's properties are.  This is more than a simple reference to a single equation.  That is what the document reference is for.
